<html>
<head>
<TITLE>Player <%= hostname%></TITLE>

<style type="text/css">
#play, #pause, #stop, #start {
	width: 100px;
	padding: 4px;
	margin: 8px 10px;
}

.volume, .seek, .system {
	padding: 4px;
}

#volume {
	width: 32px;
	text-align: center;
	padding: 4px;
	margin-left: 8px;
	margin-right: 8px;
}

#positionBlock {
	margin-left: 48px;
}

#list {
	display: block;
	width: 320px;
	margin-top: 10px;
	max-height: 320px;
	list-style: none;
	margin-bottom: 0;
	
	overflow: auto;
}

#list LI {
	padding: 8px;
	border: 1px solid #AAA;
	background-color: #CCC;
	margin: 4px;
}

#list LI[directory] {
	border: 1px solid #AA7;
	background-color: #CCA;
}

#list LI[selected] {
	border: 1px solid #A66;
	background-color: #C88;
}

#list A {
	text-decoration: none;
	color: black;
}

</style>

<script type="text/javascript">
	//<![CDATA[ 

	function cmd(type, parameter) {
		var xhr = new XMLHttpRequest();

		var p="omx/"+type;
		if (parameter!==undefined) {
			p+="/"+parameter;
		}

		xhr.open("GET", p, false);
		xhr.send(null);

		var obj = JSON.parse(xhr.responseText);

		if (obj.returnCode !== "OK") {
			alert(obj.returnCode + " " + obj.message);
		}
	}

	function fillList(path) {
		var xhr = new XMLHttpRequest();

		document.getElementById("start").disabled = true;

		var path = document.getElementById("p").innerHTML;
		if (!path) {
			path = "/";
		}

		xhr.open("GET", "list" + path, false);
		xhr.send(null);

		var obj = JSON.parse(xhr.responseText);

		if (obj.returnCode !== "OK") {
			alert(obj.returnCode + " " + obj.message);
		} else {
			var comp = document.getElementById('list');

			for (; comp.firstChild;) {
				comp.removeChild(comp.firstChild);
			}

			var list = obj.list;
			if (list) {
				list.sort(function(o1, o2) {
					if (o1.charAt(0) == '/') {
						if (o2.charAt(0) != '/') {
							return -1;
						}
					} else if (o2.charAt(0) == '/') {
						return 1;
					}

					return o1 - o2;
				});

				if (path != "/") {
					var li=document.createElement("LI");
					comp.appendChild(li);

					var opt = document.createElement("A");
					li.path = "..";
					opt.href="javascript:void(0)";
					li.onclick=playItem
					opt.innerHTML="[Dossier parent]";

					li.setAttribute("directory", true);
					li.appendChild(opt);
				}

				list.forEach(function(item) {
					var li=document.createElement("LI");
					comp.appendChild(li);
					
					var opt = document.createElement("A");
					li.path = item;
					opt.href="javascript:void(0)";
					li.onclick=playItem

					var txt = document.createTextNode(item);
					opt.appendChild(txt);
					
					if (item.charAt(0)==='/') {
						li.setAttribute("directory", true);					
					}

					li.appendChild(opt);
				});

			}
		}
	}
	
	function formatPosition(v) {
		if (v<0 || isNaN(v)) {
			return "-";
		}
		
		v=Math.floor(v/1000000);
		var sec=v%60;
		v=Math.floor(v/60);
		var min=v%60;
		var h=Math.floor(v/60);
		
		function pad(x) {
			return (x>9)?x:"0"+x;
		}
		
		return pad(h)+":"+pad(min)+":"+pad(sec);
	}

	function playItem(playVideo, path) {
		var startButton= document.getElementById("start");
		var p = document.getElementById("p").innerHTML;

		if (playVideo===true) {
			startButton.disabled = true;

			if (p != "/") {
				p += "/";
			}
			cmd("Play", p+path);
			return;
		}
	
		var comp = document.getElementById('list');

		path = this.path;
		if (path.charAt(0) == '/') {
			document.getElementById("p").innerHTML = (p == '/') ? path : (p + path);
			fillList();
			return;
		}
		if (path == "..") {
			var i = p.lastIndexOf("/");
			if (i > 0) {
				p = p.substring(0, i);
			} else if (i == 0) {
				p = "/";
			}
			document.getElementById("p").innerHTML = p;
			fillList();
			return;
		}


		var oldSelected=document.querySelector("LI[selected]");
		if (oldSelected) {
			oldSelected.removeAttribute("selected");
		}
		this.setAttribute("selected", true);
			
		startButton.disabled = false;
		startButton.path=path;
	}
	
	setInterval(function() {
		
		var xhr = new XMLHttpRequest();

		xhr.onreadystatechange=function() {
			if (xhr.readyState==4 && xhr.status==200) {
				var obj = JSON.parse(xhr.responseText);
				
				console.log("Sync", obj);
				if (!obj || !obj.value) {
					return;
				}
				
				var properties=obj.value;
				
				var pp=properties.PlaybackStatus;
								
				document.getElementById("pause").disabled = (!pp || pp==="Paused" || pp==="Stopped");
				document.getElementById("play").disabled = (!pp || pp==="Playing" || pp==="Stopped");
				document.getElementById("stop").disabled = (!pp || pp==="Stopped");
				
				var v=Math.floor(properties.Volume*10)/10;
				document.getElementById("volume").innerHTML=((v>0)?"+":"")+String(v);
				
				document.getElementById("positionBlock").style.display=(pp==="Paused" || pp==="Playing")?"block":"none";
				document.getElementById("position").innerHTML=formatPosition(properties.Position);
			}
		};
		
		xhr.open("GET", "omx/Properties", true);
		xhr.send(null);
		
	}, 1000);

	function volume(delta) {
		var vol=document.getElementById("volume");
		var v=Math.floor((parseFloat(vol.innerHTML || 0)+delta)*10)/10;
		
		vol.innerHTML=((v>0)?"+":"")+String(v);
	
		cmd("Volume", v);
	}
	function seek(second) {
		cmd("Seek", second*1000000);
	}
	
	//]]>
</script>
</head>

<body onload="fillList()">
<H1><%= hostname%></H1>

	<input id="pause" type="button" value="Pause" onclick="cmd('Pause')"
		style="width: 80px" disabled />
	<input id="play" type="button" value="Reprise" onclick="cmd('PlayPause')" disabled />
	<input id="stop" type="button" value="Arret" onclick="cmd('Stop')" disabled />

	<div id="path">
		Chemin: <span id="p">/</span>
	</div>
	<ul id="list" >
	</ul>
	<div style="padding-left: 220px">
		<input id="start" type="button" value="Afficher" onclick="playItem(true, this.path)" disabled="disabled" />
	</div>
	<div style="padding-top: 10px">
		<input class="volume" type="button" value="VOL -" onclick="volume(-1)" />
		<span id="volume">0</span>
		<input class="volume" type="button" value="VOL +" onclick="volume(1)" />
		
	</div>
	<div style="padding-top: 10px" id="positionBlock" style="display: none">
		<input class="seek" type="button" value="-5mn" onclick="seek(-60*5)" />
		<input class="seek" type="button" value="-30s" onclick="seek(-30)" />
		<span>Position : <span id="position"></span></span>
		<input class="seek" type="button" value="+30s" onclick="seek(30)" />
		<input class="seek" type="button" value="+5mn" onclick="seek(60*5)" />
	</div>

	<div style="padding-top: 10px">
		<input class="system" type="button" onclick="confirm('Reboot ?') && cmd('Reboot')" value="Reboot" />
		<input class="system" type="button" onclick="confirm('Halt ?') && cmd('Halt')" value="Halt" />
	</div>
</body>

</html>