<html>
<head>
<TITLE>PI NodeJS Player</TITLE>

<style type="text/css">
#play, #pause, #stop, #start {
	width: 80px;
	margin: 8px 10px;
}

#list {
	display: block;
	width: 320px;
	margin-top: 16px;
	max-height: 320px;
	list-style: none;
	
	overflow: auto;
}

#list LI {
	padding: 4px;
	border: 1px solid #AAA;
	background-color: #CCC;
	margin: 4px;
}

#list LI[directory] {
	border: 1px solid #AA7;
	background-color: #CCA;
}

#list A {
	text-decoration: none;
	color: black;
}

</style>

<script type="text/javascript">
	//<![CDATA[ 

	function cmd(type, parameter) {
		var xhr = new XMLHttpRequest();

		var p="omx/"+type;
		if (parameter) {
			p+="/"+parameter;
		}

		xhr.open("GET", p, false);
		xhr.send(null);

		var obj = JSON.parse(xhr.responseText);

		if (obj.returnCode !== "OK") {
			alert(obj.returnCode + " " + obj.message);
		}
	}

	function fillList(path) {
		var xhr = new XMLHttpRequest();

		document.getElementById("start").disabled = true;

		var path = document.getElementById("p").innerHTML;
		if (!path) {
			path = "/";
		}

		xhr.open("GET", "list" + path, false);
		xhr.send(null);

		var obj = JSON.parse(xhr.responseText);

		if (obj.returnCode !== "OK") {
			alert(obj.returnCode + " " + obj.message);
		} else {
			var comp = document.getElementById('list');

			for (; comp.firstChild;) {
				comp.removeChild(comp.firstChild);
			}

			var list = obj.list;
			if (list) {
				list.sort(function(o1, o2) {
					if (o1.charAt(0) == '/') {
						if (o2.charAt(0) != '/') {
							return -1;
						}
					} else if (o2.charAt(0) == '/') {
						return 1;
					}

					return o1 - o2;
				});

				if (path != "/") {
					var li=document.createElement("LI");
					comp.appendChild(li);

					var opt = document.createElement("A");
					opt.value = "..";
					opt.href="javascript:void(0)";
					opt.onclick=playItem
					opt.innerHTML="[Dossier parent]";

					li.setAttribute("directory", true);
					li.appendChild(opt);
				}

				list.forEach(function(item) {
					var li=document.createElement("LI");
					comp.appendChild(li);
					
					var opt = document.createElement("A");
					opt.value = item;
					opt.href="javascript:void(0)";
					opt.onclick=playItem

					var txt = document.createTextNode(item);
					opt.appendChild(txt);
					
					if (txt.charAt(0)==='/') {
						li.setAttribute("directory", true);					
					}

					li.appendChild(opt);
				});

			}
		}
	}

	function playItem(playVideo) {
		var comp = document.getElementById('list');

		var p = document.getElementById("p").innerHTML;

		var path = this.value;
		if (path.charAt(0) == '/') {
			document.getElementById("p").innerHTML = (p == '/') ? path : (p + path);
			fillList();
			return;
		}
		if (path == "..") {
			var i = p.lastIndexOf("/");
			if (i > 0) {
				p = p.substring(0, i);
			} else if (i == 0) {
				p = "/";
			}
			document.getElementById("p").innerHTML = p;
			fillList();
			return;
		}

		document.getElementById("start").disabled = false;

		if (true || playVideo) {
			if (p != "/") {
				p += "/";
			}
			alert("start" + p + path);
		}
	}
	
	//]]>
</script>
</head>

<body onload="fillList()">
<H1><%= hostname%></H1>

	<input id="pause" type="button" value="Pause" onclick="cmd('Pause')"
		style="width: 80px" />
	<input id="play" type="button" value="Reprise" onclick="cmd('Play')" />
	<input id="stop" type="button" value="Arret" onclick="cmd('Stop')" />

	<div id="path">
		Chemin: <span id="p">/</span>
	</div>
	<ul id="list" >
	</ul>
	<input id="start" type="button" value="Afficher" onclick="play(true)"
		disabled="disabled" />

</body>

</html>